<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->

    <!-- Content -->
    <div class="page-content bg-white">

        <!-- contact area -->
        <div class="content-block">
            <!-- Privacy Policy -->
            <div class="section-full content-inner inner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="title d-flex justify-content-center">Insertion Professionnel</h4>

                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Opportunités pour la création des 4C </h4>
                                <li>Une demande forte de la société Tunisienne pour l'amélioration du profil des
                                    diplômés au bénéfice de l'auto emploi et l'emploi par des tiers, et pour le
                                    perfectionnement des carrières chez les employés</li>
                                <li>Une forte conscience chez les acteurs du système de l'enseignement supérieur et la
                                    recherche scientifique de la nécessité de développement de compétences comme pilier
                                    de qualité pour être en mesure de prendre en charge la demande de la société</li>
                                <li>Montée en puissance d'un tissu institutionnel national et engagement de la société
                                    civile, pour un développement sociétal intégré et durable, ou à l'adéquation entre
                                    l'emploi et la production de richesses d'une part et le développement de carrière et
                                    de compétences d'autre part, constitue un moteur principal</li>
                                <li>Appui de la collaboration</li>
                            </ul>

                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Missions des 4C</h4>
                                <li>Une demande forte de la société Tunisienne pour l'amélioration du profil des
                                    diplômés au bénéfice de l'auto emploi et l'emploi par des tiers, et pour le
                                    perfectionnement des carrières chez les employés</li>
                                <li>Une forte conscience chez les acteurs du système de l'enseignement supérieur et la
                                    recherche scientifique de la nécessité de développement de compétences comme pilier
                                    de qualité pour être en mesure de prendre en charge la demande de la société</li>
                                <li>Montée en puissance d'un tissu institutionnel national et engagement de la société
                                    civile, pour un développement sociétal intégré et durable, ou à l'adéquation entre
                                    l'emploi et la production de richesses d'une part et le développement de carrière et
                                    de compétences d'autre part, constitue un moteur principal</li>
                                <li>Appui de la collaboration</li>
                                <li>concevoir et adopter pour sa propre université, un plan d'action spécifique et
                                    innovant en harmonie avec le projet de l'Université et le plan d'action stratégique
                                    de l'enseignement supérieur et la recherche scientifique.</li>
                                <li>promouvoir l'orientation des élèves vers les filières professionnelles et les
                                    nouveaux métiers.</li>
                                <li>Améliorer l'employabilité des étudiants.</li>
                            </ul>



                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Objectifs des 4C</h4>
                                <h5>1. Améliorer la capacité organisationnelle de l'Université</h5>
                                <li>Développer un schéma de coordination mettant en synergie les différents services de
                                    l'Université et ses établissements pour une action organisée et concertée au sein du
                                    4C .</li>
                                <li>Développer des compétences propres pour les programmes du 4C en TI, montage et
                                    gestion de projets, statistiques .</li>
                            </ul>


                            <ul class="list-circle primary m-a0">

                                <h5>2. Promouvoir la culture entrepreneuriale et d'initiative chez l'étudiant                                </h5>
                            </ul>

                            <ul class="list-circle primary m-a0">

                                <h5>3. Accompagner les diplômés en recherche, acquisition et préservation
                                        d'emploi</h5>
                                <li>offrir l'information relative aux postes ouverts .</li>
                                <li>offrir un accompagnement d'insertion rapide et efficace au marché? du travail .</li>
                                <li>Offrir la formation de base pour la recherche l'accés et la candidature aux postes .</li>
                                <li>Réajuster la politique des stages .</li>
                                <li>offrir un service de coaching .</li>
                                <li>développer un programme de mentorat et de coaching pour la préservation de son emploi .</li>
                                <li>Offrir un lieu de travail concret, tant pour des emplois occasionnels que permanents, des travaux de cours, afin de mettre en pratique la matière enseigné dans leur domaine d'étude .</li>
                                <li>Promouvoir et renforcer les associations d'anciens étudiants et diplômés de l'université .</li>
                                <li>Promouvoir les concours associés aux objectifs des 4C et y encourager la participation .</li>

                            </ul>

                            <ul class="list-circle primary m-a0">

                                <h5>4. Accompagner les employeurs dans la recherche de profils et l?identification de candidats à l'emploi</h5>
                                <li>Mettre à leur disposition un service complet et simple d'affichage pour les profils disponibles.</li>
                                <li>Organiser des activités de recrutement leur permettant de rencontrer des étudiants et des diplômés de l'Université .</li>
                                <li>Les informer sur les divers programmes de formation offerts à L'université.</li>
                            
                            </ul>
                            <ul class="list-circle primary m-a0">

                                <h5>5. Développer une stratégie de communication et mettre en place un système approprié</h5>
                               
                            </ul>
                            <ul class="list-circle primary m-a0">

                                <h5>6. Développer une stratégie de mobilisations des ressources humaines, technologiques et financières</h5>
                               
                            </ul>
                            <ul class="list-circle primary m-a0">

                                <h5>7. Développer une stratégie de visibilité et de valorisation du produit de la formation de l'université et ses établissements vis-à-vis des besoins et demandes du monde socio-économique</h5>
                               
                            </ul>
                            <p>Le 4C est un espace de convergence entre compétences académiques et professionnelles qui se constituent un cadre institutionnel d'échange et de partage de connaissances et d'expériences, de planification et d'action commune au service de l'emploi comme moyen de développement socio-économique. Il se situe au carrefour de la production du savoir et de l'usage qu'on en fait pour la création des produits dont a besoin la société. Il constitue dans la vision du plan d'action stratégique pour la réforme de l'enseignement supérieure et la recherche scientifique et dans le cadre du développement de la nouvelle carte universitaire, l'outil de la promotion de l'employabilité des diplômés et l'interface entre l'université et les acteurs de développement régional en particulier.</p>
                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Brochure Action à TREMPLOI</h4>
                           <li><button> button</button></li>
                            </ul>
                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Affiches du centre</h4>
                           <li><button> button</button></li>
                            </ul>
                            <div class="dlab-divider bg-gray-dark"></div>
                            <ul class="list-circle primary m-a0">
                                <h4 class="title">Porte documents du centre</h4>
                           <li><button> button</button></li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>



                        </div>

                    </div>
                </div>
            </div>
            <!-- Privacy Policy END -->
        </div>

    </div>
    <!-- Content END-->

</div>
<!-- contact area -->