

<div class="section-full content-inner bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="title">Nos Actualités Universitaires            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content box-sort-in button-example p-b0">
            <div class="row" *ngIf="actualites">


                <ng-container *ngFor="let actualite of actualites">
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">

                        <div class="dlab-box service-box-2">
                            <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                                <a [routerLink]="['/universite/actualites/',actualite.id]"><img
                                        src="assets/uploads/{{actualite?.imageAct}}" style="width: 350px; height: 250px;" alt=""></a>
                            </div>
                            <div class="dlab-info p-a20 border-1">
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-date"> <span>  {{actualite?.updatedAt | date: 'yyyy-MM-dd'}} </span> </li>
                                        <li class="post-tag">  <a href="javascript:void(0);">{{actualite?.themeAct }} </a> </li>
                                    </ul>
                                </div>
                                <div class="dlab-post-title">
                                    <h4 class="post-title"><a [routerLink]="['/universite/actualites/',actualite.id]" >{{actualite?.titreAct | truncate: 20}}</a></h4>
                                </div>
                                <div class="dlab-post-text">
                                   <p>{{actualite?.sujetAct | truncate: 100}}</p>
                                </div>
                                <div class="dlab-post-readmore"> 
                                    <a [routerLink]="['/universite/actualites/',actualite.id]" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                          

                        </div>
                    </div>
                </ng-container>
                  
            </div>
        </div>
        <div class="d-flex justify-content-center section-content box-sort-in  button-example m-b30">
            <button [routerLink]="['universite/actualites/']" class="site-button m-r15" type="button">Voir toutes les actualités</button>
           
        </div>
    </div>
</div>


