

<div class="section-full content-inner bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="title">Nos Actualités Universitaires            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content box-sort-in button-example p-b0">
            <div class="row">
                <div class="post card-container col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-post blog-grid blog-rounded blog-effect1">
                        <div class="dlab-post-media dlab-img-effect"> 
                            <a [routerLink]="['/actualites/',actualites[0].id]" ><img src="assets/uploads{{actualites[0].imageAct}}" alt=""></a> 
                        </div>
                        <div class="dlab-info p-a20 border-1">
                            <div class="dlab-post-meta">
                                <ul>
                                    <li class="post-date"><span>{{actualites[0].created}} </span></li>
                                    <li class="post-tag"> <a href="javascript:void(0);">Education</a></li>
                                </ul>
                            </div>
                            <div class="dlab-post-title">
                                <h4 class="post-title"><a [routerLink]="['/actualites/',actualites[0].id]" >{{actualites[0].titreAct}}</a></h4>
                            </div>
                            <div class="dlab-post-text">
                               <p>{{actualites[0].sujetAct| truncate: 100}}</p>
                            </div>
                            <div class="dlab-post-readmore"> 
                                <a [routerLink]="['/actualites/',actualites[0].id]"  title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post card-container col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-post blog-grid blog-rounded blog-effect1">
                        <div class="dlab-post-media dlab-img-effect"> 
                            <a [routerLink]="['/actualites/',actualites[1].id]" ><img src="assets/uploads{{actualites[1].imageAct}}" alt=""></a> 
                        </div>
                        <div class="dlab-info p-a20 border-1">
                            <div class="dlab-post-meta">
                                <ul>
                                    <li class="post-date">  <span> {{actualites[1].created}} </span> </li>
                                    <li class="post-tag">  <a href="javascript:void(0);">Education</a> </li>
                                </ul>
                            </div>
                            <div class="dlab-post-title">
                                <h4 class="post-title"><a [routerLink]="['/actualites/',actualites[1].id]" >{{actualites[1].titreAct}}</a></h4>
                            </div>
                            <div class="dlab-post-text">
                               <p>{{actualites[1].sujetAct | truncate: 100}}</p>
                            </div>
                            <div class="dlab-post-readmore"> 
                                <a [routerLink]="['/actualites/',actualites[1].id]"  title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post card-container col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-post blog-grid blog-rounded blog-effect1">
                        <div class="dlab-post-media dlab-img-effect"> 
                            <a [routerLink]="['/actualites/',actualites[2].id]" ><img src="assets/uploads{{actualites[2].imageAct}}" alt=""></a> 
                        </div>
                        <div class="dlab-info p-a20 border-1">
                            <div class="dlab-post-meta">
                                <ul>
                                    <li class="post-date">  <span> {{actualites[2].created}} </span> </li>
                                    <li class="post-tag">  <a href="javascript:void(0);">Education</a> </li>
                                </ul>
                            </div>
                            <div class="dlab-post-title">
                                <h4 class="post-title"><a [routerLink]="['/actualites/',actualites[2].id]" >{{actualites[2].titreAct}}</a></h4>
                            </div>
                            <div class="dlab-post-text">
                               <p>{{actualites[2].sujetAct | truncate: 100}}</p>
                            </div>
                            <div class="dlab-post-readmore"> 
                                <a [routerLink]="['/actualites/',actualites[2].id]" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>