<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    <br>ss
    
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
       

    </div>