<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Societé Civile</h3>
                    <p>Partenariat entre l'Université de Sousse et les associations à caractère non gouvernementale de la société civile notamment lors d'évènements importants tels que les élections des structures universitaires et les élections des représentants des étudiants dans les conseils scientifiques des différents établissements de l'Université.</p>
                    <p>Collaboration entre l'Université de Sousse avec la société civile en particulier en matière de gestion de crises tels que celles survenues aprés les évènements 2011 et en particulier mobiliser la société civile pour aider à résoudre des situations liées aux étudiants ou aux collègues en difficultés.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                

                </div>
             
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <br>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>