<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Bourses D'Alternance</h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <ul class="list-circle primary m-a0">    
                                    <p>C'est une bourse nationale accordée aux étudiants tunisiens selon l'arrété du ministre de l'enseignement supérieur et de la recherche scientifique du 16 mars 2010 , fixant le montant et les modalités d'attribution de la bourse spécifique et de la bourse d'alternance au profit des étudiants et des élèves tunisiens poursuivant leurs études dans les pays de l'union européenne et canada.</p>                          
                                    <h4 class="title">En effet, cette bourse est attribuée aux chercheurs tunisiens inscrits à l'université de Sousse en :

                                    </h4>

                                   <li>Deuxième année Mastère de recherche
                                    </li>
                                   <li>Première année Doctorat
                                    </li>
                                    <li>Deuxième annèe Doctorat
                                    </li>
                                    <li>Troisième année Doctorat
                                    </li>
                                    <br>
                                  <p>Cette bourse est accordée aussi pour une durée maximale de six mois pour l'année universitaire reconductible deux fois durant le cycle d'études.</p>
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Procédure</h4>
                                <b>La composition du dossier :</b>
                                <ul class="list-circle primary m-a0">                              
                                    <li>Une copie du formulaire dément rempli et signé par l?intéressé, retiré du site :
                                        http://www.best.rnu.tn       </li>
                                    <li>Une photocopie de la CIN</li>
                                    <li>Une copie de l'inscription pour l'année universitaire en cours .</li>
                                    <li>Une attestation d'appui de la part du directeur de recherche (PFE, mastère ou doctorat).</li>
                                    <li>Une invitation d'accueil de la part de l'organisme étranger mentionnant la période exacte du stage ou une inscription dans l'une des universités étrangères pour les étudiants inscrits dans le régime de cotutelle de thèse.</li>
                                    <li>Une autorisation d'absence délivrée par la Direction Générale de l'Enseignement pour ceux qui ont des contrats d'enseignement.</li>
                                    <li>Une copie de la première page du passeport.</li>
                                   

                          
                                </ul>
                                <p>Le dépôt du dossier de candidature se fait au sein de l'établissement ou le candidat est inscrit au niveau du service troisième cycle.</p>
                            <p>Une fois que le candidat a eu l'accord préalable de la part de l'Université, il doit s'adresser au Ministère de l'Enseignement Supérieur de la Recherche Scientifique et de la Technologie, Direction Générale des Affaires Estudiantines, Service Bourse en Alternance pour retirer son attestation de bourse après avoir complété les procédures administratives.</p>
                                <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                      
                              
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   