<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Changement de Parcours</h3>
                    <p>Les établissements d'enseignement supérieur et de recherche instaurent des passerelles entre les parcours pour permettre à l'étudiant de restructurer son parcours au sein du même établissement ou, le cas échéant, entre les établissements en conservant les crédits capitalisés.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                

                </div>
             
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <br>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>