<div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">

 
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" class="collapsed" aria-expanded="false">Ecole Supérieure des Sciences et Techniques de la Santé</a> </h6>
        </div>
        <div id="collapse1" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Appliquée en Instrumentation Chirurgicale :</b> Instrumentation Opératoire.</li>
                    <li><b>Licence Appliquée en Soins Pédiatrique:</b> Soins pédiatriques.</li>
                    <li><b>Licence Appliquée en Podologie-Pédicure:</b> Podologie-Pédicure.</li>
                    <li><b>Licence Appliquée en Soins d'Urgence et Réanimation:</b> Soins d'Urgence et Réanimation.</li>
                          
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" class="collapsed" aria-expanded="false">Ecole Supérieure des Sciences et de Technologie de Hammam Sousse</a> </h6>
        </div>
        <div id="collapse2" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Mathématiques:</b> Mathématiques.</li>
                    <li><b>Licence Fondamentale en Physique:</b> Physique.</li>
                    <li><b>Licence Fondamentale en Sciences de l'Informatique:</b> Sciences de l'Informatique.</li>
                    <li><b>Licence Appliquée en Energétique:</b> Energétique.</li>
                    <li><b>Licence Appliquée en Electronique Electrotechnique et Automatique:</b> Electronique et Informatique Industrielle.</li>
                    <li><b>Licence Appliquée en Physique:</b> Génie des matériaux et des procédés.</li>                  
                    <li><b>Licence Appliquée en Sciences et Technologies de l'Information et de Communications:</b> Informatique et Electronique.</li>                  
                    <li><b>Cycle Préparatoire:</b> Math-Physique.</li>                  
                    <li><b>Cycle Préparatoire:</b> Physique-Chimie.</li>                  
                    <li><b>Licence Appliquée en énergitique:</b> Licence co-construite en Energie Renouvelable.</li>                  

                
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" class="collapsed" aria-expanded="false">Faculté de Droit et des Sciences Politiques</a> </h6>
        </div>
        <div id="collapse3" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Droit:</b> Droit Privé/ Droit Public.</li>
                    <li><b>Licence Appliquée en en Droit:</b> Tronc Commun / Droit privé : Droit de l'entreprise et des Affaires/ Droit public : Fiscalité de l'entreprise / Droit des Ressources Humaines.Droit Public :Contentieux administratif et fiscal.</li>
                                    
               </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" class="collapsed" aria-expanded="false">Faculté des Lettres et des Sciences Humaines</a> </h6>
        </div>
        <div id="collapse4" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Géographie:</b> Géographie.</li>
                    <li><b>Licence Fondamentale en Histoire:</b> Histoire.</li>
                    <li><b>Licence Fondamentale en Langue & Littérature et Civilisation Arabes:</b> Langue, Littérature et Civilisation Arabes.</li>
                    <li><b>Licence Fondamentale en Langue & Littérature et Civilisation Anglaises:</b> Langue, Littérature et Civilisation Anglaises.</li>
                    <li><b>Licence Fondamentale en Langue & Littérature et Civilisation Françaises:</b> Langue, Littérature et Civilisation Françaises.</li>
                    <li><b>Licence Fondamentale en Anthropologie Sociale et Culturelle:</b> Anthropologie Sociale et Culturelle.</li>                  
                    <li><b>Licence Appliquée en Patrimoine:</b> Métiers du Patrimoine.</li>                  
                    <li><b>Licence Appliquée en Géographie:</b> Géographie de l'aménagement de/l'Environnement.</li>                  
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse5" class="collapsed" aria-expanded="false">Faculté des Sciences Economiques et de Gestion</a> </h6>
        </div>
        <div id="collapse5" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Economie:</b> Tronc commun. / Economie Quantitative. / Economie Adminstrative et Industrielle. / Monnaie, Finance et Banque.</li>
                    <li><b>Licence Fondamentale en Gestion:</b> Tronc commun. Administration des Affaires. /Marketing. / Finance. / Compatibilté.</li>
                    <li><b>Licence Appliquée en Ecoomie:</b> Tronc commun. / Techniques Financière et d'Assurence. / Relations Commerciales internationales.</li>
               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse6" class="collapsed" aria-expanded="false">Institut des Hautes Etudes Commerciales</a> </h6>
        </div>
        <div id="collapse6" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Gestion:</b> Tronc commun/ Finances/ Hautes Etudes Commerciales.</li>
                    <li><b>Licence Appliquée en Gestion:</b> Tronc commun./ Comptabilité (Gestion Comptable)/ Gestion de la production( Gestion de la Qualité)/ Administration des Affaires (Gestion des projets)/ Marketing (Techniques de Vente et de Distribution)</li>
                          
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse7" class="collapsed" aria-expanded="false">Institut Supérieur de Finances et de Fiscalité</a> </h6>
        </div>
        <div id="collapse7" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Economie:</b> Tronc commun/ Economie et Finance Internationales</li>
                    <li><b>Licence Fondamentale en Gestion:</b> Tronc commun./ Gestion Fiscale / Comptabilité</li>
                    <li><b>Licence Appliquée en Gestion:</b> Tronc commun./ Finances(Banques et institutions financières)/ Comptabilité (Gestion comptable)</li>
                
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse8" class="collapsed" aria-expanded="false">Institut Supérieur d’informatique et des Techniques de Communication de Hammam Sousse</a> </h6>
        </div>
        <div id="collapse8" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Appliquée en Informatique:</b> Technologie du Multimédia et du Web</li>
                    <li><b>Licence Appliquée en Sciences et Technologies d'Information et Télécommunications:</b>Technologie des communications</li>
                    <li><b>Licence Appliquée en Réseaux Informatiques:</b> Réseaux Informatiques et Communications</li>
                    <li><b>Diplôme national d'ingénieur Informatique et communications:</b> Réseaux Informatiques et Communications</li>
                    <li><b>Licence</b>Instrumentation</li>
                    <li><b>Licence</b>Instrumentation</li>                  
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse9" class="collapsed" aria-expanded="false">Institut Supérieur de Gestion</a> </h6>
        </div>
        <div id="collapse9" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Economie:</b> Tronc commun/ Economie et Finances Internationales/ Economie quantitative.</li>
                    <li><b>Licence Fondamentale en Gestion:</b> Tronc commun / Marketing/ Finance / Comptabilité</li>
                    <li><b>Licence Fondamentale en Informatique de Gestion:</b> Informatique Appliquée à la Gestion .</li>
                    <li><b>Licence Appliquée en Gestion:</b> Tronc commun/ Administration des Affaires (Gestion hôtelière et touristique) / Marketing (Communication) / Finance (Banques et institutions financières) / Comptabilité (Gestion comptable)</li>
                    <li><b>Licence Appliquée en Informatique de Gestion:</b> Techniques des Systémes d'Informations.</li>
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse10" class="collapsed" aria-expanded="false">Institut Supérieur de Musique</a> </h6>
        </div>
        <div id="collapse10" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Arts et Sciences Musicaux:</b> Musique et Musicologie.</li>
                    <li><b>Licence Fondamentale en Musique et Interprétation:</b> Musique et Interprétation</li>
                    <li><b>Licence Appliquée en Techniques de Prise de Son:</b> Techniques de Prise de Son</li>     
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse11" class="collapsed" aria-expanded="false">Institut Supérieur de Transport et de La Logistique</a> </h6>
        </div>
        <div id="collapse11" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Appliquée en Technologies de Transport et de la Logistique:</b> Tronc commun / Diagnostique et Maintenance en Logistique et Transport / Systèmes Logistiques et Transport</li>
                    <li><b>Licence Appliquée en Génie Logistique :</b> Tronc commun / Logistique de Distribution / Logistique Industrielle / Logistique des Opérations Internationales.</li>
                    <li><b>Licence Appliquée en Technologies de Transport et de la Logistique:</b> Tronc commun / Planification des Transports et Développement Territorial / Transport Maritime et Gestion Portuaire / Transport et Commerce Internationale</li>
                    <li><b>Licence Fondamentale en Sciences du Transport et de la Logistique:</b> Transport / Sciences de la Logistique / Modélisation et Technologies en Logistiques et Transports</li>        
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse12" class="collapsed" aria-expanded="false">Institut Supérieur de Beaux-Arts de Sousse</a> </h6>
        </div>
        <div id="collapse12" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Arts Visuels ARTS PLASTIQUES:</b> Tronc commun/ Peinture / Céramique. / Sculpture. / Gravure / Arts Médiatiques</li>
                    <li><b>Licence Fondamentale en Design:</b> Tronc commun / Design Image : Publicité graphique / Design Espace : Architecture d'intérieur /Design Produit : Création Industrielle</li>
                    <li><b>Licence Appliquée en Design:</b> Tronc Commun / Design Image : Publicité audio-visuelle/ Design Image : Publicité graphique/ Design Espace : Architecture d'intérieur/ Design Produit : Création Industrielle/ Design Produit : Création Artisanale</li>
                    <li><b>Licence Appliquée en Arts Visuels:</b> Tronc commun/ Photographie</li>
                    <li><b>Licence Appliquée en Conservation et Restauration des Biens culturels:</b> Conservation et restauration des biens immobiliers</li>                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse13" class="collapsed" aria-expanded="false">Institut Supérieur des Sciences Appliquées et de Technologie</a> </h6>
        </div>
        <div id="collapse13" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Fondamentale en Electronique Electrotechnique et Automatique:</b> Electronique</li>
                    <li><b>Licence Fondamentale en Génie Mécanique:</b> Conception</li>
                    <li><b>Licence Fondamentale en Génie Civil:</b> Mécanique des matériaux et structures.</li>
                    <li><b>Licence Appliquée en Génie Mécanique:</b> Conception et Fabrication</li>
                    <li><b>Licence Appliquée en Informatique Industrielle:</b> Systèmes et Automatismes</li>
                    <li><b>Licence Appliquée en Energétique:</b> Chauffage et Climatisation</li>       
                    <li><b>Licence Appliquée en Electronique Electrotechnique et Automatique:</b> Electrotechnique et Electronique Industriels / Electrotechnique et Informatique Industrielle</li>                  
                    <li><b>Licence Appliquée en Electromécanique:</b> Mécatronique Industrielle</li>                  
                    <li><b>Cycle Préparatoire Intégré Scientifique:</b> Informatique</li>                
                    <li><b>Diplôme National d’Ingénieur Informatique:</b> Tronc Commun</li>                  

                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse14" class="collapsed" aria-expanded="false">Ecole Nationale d’Ingénieurs</a> </h6>
        </div>
        <div id="collapse14" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Diplôme National d'Ingénieur en Electronique Industriel:</b> Electronique Industriel</li>
                    <li><b>Diplôme National d'Ingénieur en Informatique Industriel:</b> Informatique Industriel</li>
                    <li><b>Diplôme National d'Ingénieur en Mécatronique:</b> Mécatronique</li>
                    <li><b>Diplôme National d'Ingénieur en Mécanique et Productique:</b> Mécanique et Productique</li>
                    <li><b>Diplôme National d'Ingénieur en Télécommunications Embarquées:</b> Télécommunications Embarquées</li>
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse15" class="collapsed" aria-expanded="false">Faculté de Médecine</a> </h6>
        </div>
        <div id="collapse15" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Diplôme National de Docteur en Médecine:</b> Première Année PCEM / Deuxième Année PCEM / Première Année DCEM / Deuxième Année DCEM / Troisième Année DCEM / Internat / Thèse Doctorat.</li>
                
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse16" class="collapsed" aria-expanded="false">Institut Supérieur des Sciences Infirmières</a> </h6>
        </div>
        <div id="collapse16" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Appliquée en Sciences Infirmières:</b> Sciences Infirmières</li>
                
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse17" class="collapsed" aria-expanded="false">Institut Supérieur Agronomique de Chott-Mariem</a> </h6>
        </div>
        <div id="collapse17" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Licence Appliquée en Horticulture:</b> Horticulture</li>
                    <li><b>Licence Appliquée en paysage:</b> Paysage</li>
                    <li><b>Diplôme National d'Ingénieur en:</b> Horticulture</li>
                    <li><b>Diplôme National d'Ingénieur en:</b> Aménagement des espaces</li>
               
                               
                </ul>
                   </div>
        </div>
    </div>



    </div>