
    
<div class="page-wraper">
   <!-- inner page banner -->
   <app-universite-banner [data]="banner"></app-universite-banner>
   <!-- inner page banner END -->

    <!-- Content -->
    <div class="page-content bg-white">
    
        <!-- contact area -->
		<div class="section-full content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 m-b30">
						<div class="teachers-profile">
							<div class="img">
								<img src="assets/images/Lotfi-Belkacem-3.jpg" height="500" width="500" alt="">
							</div>
							<div class="teachers-info">
								<h4 class="name">Lotfi BELKACEM</h4>
								<span class="position">Président de l'Université de Sousse</span>
							</div>
							<div class="teachers-contact">
								<ul>
									<li class="title">Contact Info</li>
									<li><span>Address:</span>New York</li>
									<li><span>Email:</span>info@example.com</li>
									<li><span>Phone:</span>+91 987 654 3210</li>
								</ul>
								<div class="share-list">
									<h5>Share :</h5>
									<ul class="dlab-social-icon">
										<li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="teachers-details">
							<h2>Mot du président</h2>
							<p class="m-b30">Che(è)r(e)s collègues,
								Avec vous, nous construisons une université dynamique, autonome, inclusive, responsable et consciente de ses défis pour devenir une grande université, acteur majeur d’enseignement, de la recherche et innovation, espace d’épanouissement pour ses étudiants, porteuse d’idées nouvelles et engagée dans un monde en perpétuel changement.</p>
							<p class="m-b30">Nous avons besoin donc de consolider les bonnes pratiques et introduire en même temps des modes de fonctionnement capables de corriger les insuffisances du moment et de transcender l’avenir de notre université et de l’ensemble de ses établissements en modernisant la gouvernance afin d’assurer une adéquation formation emploi pour une meilleure employabilité et contribuer par la formation, la recherche, l’innovation et le renforcement des capacités de tous les acteurs, à résoudre les problèmes les plus fréquent de la société et à améliorer le bienêtre de la population tunisienne.</p>
							<p class="m-b30">Nous avons besoin donc de consolider les bonnes pratiques et introduire en même temps des modes de fonctionnement capables de corriger les insuffisances du moment et de transcender l’avenir de notre université et de l’ensemble de ses établissements en modernisant la gouvernance afin d’assurer une adéquation formation emploi pour une meilleure employabilité et contribuer par la formation, la recherche, l’innovation et le renforcement des capacités de tous les acteurs, à résoudre les problèmes les plus fréquent de la société et à améliorer le bienêtre de la population tunisienne.</p>
							Pour réaliser un tel projet de modernisation de l'université de Sousse, nous avons mis en œuvre un plan d'action stratégique entrepris selon une démarche démocratique et issue d'une réflexion collective partagée par les différentes parties prenantes et qui décline nos orientations stratégiques à cout et à moyen terme. Celles-ci ont pour but de refaire de l’Université de Sousse une université autonome et socialement responsable.
							<p class="m-b10">Cette ambition pour notre université, je veux la porter pour vous et avec vous.</p>

							<div class="row">
								<div class="col-lg-6 m-b15">
									<h4 class="m-b30">My Education</h4>
									<ul class="teach-list-info">
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">Harvard University</h5>
											<span>Bachelor in Mathematics</span>
										</li>
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">University Of Toronto</h5>
											<span>Bachelor in English</span>
										</li>
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">Harvard University</h5>
											<span>Bachelor in Mathematics</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-6 m-b15">
									<h4 class="m-b30">My Experience</h4>
									<ul class="teach-list-info">
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">UI/UX Designer</h5>
											<span>2016 - 2020</span>
										</li>
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">Web Development</h5>
											<span>2017 - 2020 </span>
										</li>
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">Envato</h5>
											<span>2018 - 2020 </span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Teachers Profile End -->
	</div>
    <!-- Content END-->

</div>



