<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Bourses Nationales</h3>
                    <p>C'est une bourse nationale accordée aux étudiants tunisiens annuellement sur la base d?un arrêté et circulaire du ministre de l'enseignement supérieur et de la recherche scientifique, fixant les modalités d'attribution de la bourse nationale au profit des étudiants et des élèves ingénieurs tunisiens réputés par leurs excellences académiques afin de poursuivre des études à l'International.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                

                </div>
             
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <br>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>