<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Le nombre des enseignants chercheurs à l'Université de Sousse 2019-2020 est reparti comme suit:</h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Répartition des enseignants</h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Les enseignants universitaires:
                                   <br>
                                    - Professeur Emerite: 15
                                    <br>
                                    - Professeur: 96
                                    <br>
                                    - Maitre de conférence: 104
                                    <br>
                                    - Maitre asistant: 749
                                    <br>
                                    - Assistants: 376
                                    <br>
                                 </li>
                                    <li>Les enseignants Hospitalo-universitaire:
                                        <br>
                                        - Prof.H.U: 117
                                        <br>
                                        - Maitre de conf H.U: 141
                                        <br>
                                        - Assistants H.U: 212
                                    </li>
                                    <li>Les enseignants contractuels étrangers: 12</li>
                                    <li>Les enseignants contractuels tunisiens: 207</li>
                                    <li>Les enseignants de l'enseignement agricole: 59</li>
                                    <li>Les enseignants de l'enseignement supéreur militaire: 10</li>
                                    <li>Corps des Technologues: 10</li>
                                    <li>Corps de l'enseignement secondaire: 235</li>                    
                                </ul>
                             
                             
                                                           
                                   
                              
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   