<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Reorientation                        </h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <ul class="list-circle primary m-a0">    
                                    <h4 class="title">Réorientation</h4>

                                  
                                        <p>L'université de Sousse organise les concours de réorientation universitaire aux étudiants tunisiens et titulaires du baccalauréat ou d'un diplôme équivalent inscrits au titre de l'année universitaire en cours, en première année (nouveaux ou redoublants une seule fois). Pour choisir l'une des spécialités dans les établissements qui relèvent de l'université de Sousse.</p>
                                   <li><b>Chaque étudiant peut participer à un ou plusieurs concours dans une ou plusieurs universités, compte tenu des possibilités que permet le calendrier des épreuves.</b></li>
                                   <li><b>Les candidats peuvent être soit inscrits dans un établissement d'enseignement supérieur en Tunisie soit à l'étranger ou ayant bénéficié du retrait de l'inscription.</b></li>
                                    </ul>

                                    <div class="dlab-divider bg-gray-dark"></div>
                                    <ul class="list-circle primary m-a0">    
                                        <h4 class="title">Toutes les épreuves de réorientation</h4>
    
                                      
                                       <li><b><a href='/assets/reoPDF/reo2009.pdf'>Épreuves de réorientation 2009</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2010.pdf'>Épreuves de réorientation 2010</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2011.pdf'>Épreuves de réorientation 2011</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2012.pdf'>Épreuves de réorientation 2012</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2013.pdf'>Épreuves de réorientation 2013</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2014.pdf'>Épreuves de réorientation 2014</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2015.pdf'>Épreuves de réorientation 2015</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2016.pdf'>Épreuves de réorientation 2016</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2017.pdf'>Épreuves de réorientation 2017</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2018.pdf'>Épreuves de réorientation 2018</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2019.pdf'>Épreuves de réorientation 2019</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2020.pdf'>Épreuves de réorientation 2020</a></b></li>
                                       <li><b><a href='/assets/reoPDF/reo2021.pdf'>Épreuves de réorientation 2021</a></b></li>
                             
                                        </ul>
                          
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                      
                              
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   