<div class="page-wraper">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->

    <!-- Content -->
    <div class="page-content bg-white">

        <!-- contact area -->
        <div class="content-block">
            <!-- Privacy Policy -->
            <div class="section-full content-inner inner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="title">A propos de l'Université de Sousse</h4>
                            <p class="font-18">Crée par la loi n° 86-80 du 9 août 1986 , l'université de Monastir a pris
                                sa nouvelle appellation en vertu du décret n° 91-1999 du 31 décembre 1991 pour devenir
                                l'Université du Centre assurant la tutelle scientifique et pédagogique sur les
                                établissements des gouvernorats de Sousse, Monastir, Kairouan et Mahdia. Pour l'année
                                universitaire 1987-1988 un peu plus de 6000 étudiants étaient inscrits et répartis sur
                                13 institutions</p>
                            <p class="font-18">L'université du Centre a vu ses effectifs croître considérablement
                                d'année en année ainsi elle rassemblait 45000 étudiants en 2000-2001 et près de 60000
                                dans 30 établissements. A l'occasion de la célébration de la journée du Savoir (16
                                juillet 2004), l'université du Centre est scindée en 3 et a reçu une nouvelle
                                appellation "Université de Sousse", en vertu du dècret n° 2115-2004 du 02 septembre
                                2004.</p>
                            <p class="font-18">L'université de Sousse dispense d'un éventail de formations académiques
                                et professionnalisées dans les Sciences fondamentales, Juridiques, économiques et de
                                gestion, techniques, agronomiques, médicales, paramédicales, des arts et métiers, des
                                lettres et des sciences humaines.</p>
                            <div class="dlab-divider bg-gray-dark"></div>

                            <div class="dlab-divider bg-gray-dark"></div>
                            <h4 class="title">l'Université de Sousse est composé: 17 Etablissements d'enseignement
                                supérieur répartis comme suit :</h4>
                            <ul class="list-circle primary m-a0">
                                <li>4 facultés</li>
                                <li>3 écoles </li>
                                <li>10 instituts</li>
                                <li>28909 Etudiants</li>
                                <li>2328 Enseignants</li>
                                <br>
                                <li>55 Licences Appliquées (LMD)</li>
                                <li>47 Licences Fondamentales (LMD)</li>
                                <li>12 Diplômes Nationals d'Ingénieur</li>
                                <li>01 Diplômes Nationals de docteur en Médecine</li>
                                <li>49 Mastères recherche (LMD)</li>
                                <li>57 Masters professionnels (LMD)</li>
                                <li>02 Mastères professionnels Co-construit (LMD)</li>
                                <li>22 Doctorats</li>
                                <li>01 Agrégation</li>
                                <li>19 Certificats des études complémentaires</li>
                                <li>Cycle préparatoire scientifique et cycle préparatoire intégré 3 spécialités</li>
                            </ul>
                            <div class="dlab-divider bg-gray-dark"></div>

                            <div class="dlab-divider bg-gray-dark"></div>
                            <h4 class="title">Recherche Scientifique:</h4>
                            <ul class="list-circle primary m-a0">
                                <li>16 Laboratoires de recherche</li>
                                <li>22 Unités de recherche</li>
                                <li>10 instituts</li>
                                <li>06 Unités de services communs à la recherche</li>
                                <li>04 Ecoles doctorales</li>
                               
                               
                            </ul>
                            <div class="dlab-divider bg-gray-dark"></div>

                            <div class="dlab-divider bg-gray-dark"></div>
                            <h4 class="title">Coopération internationale:</h4>
                            <ul class="list-circle primary m-a0">
                                <li>57 Conventions de coopération internationale</li>
                                <li>125 Conventions de co-tutelle de thèse</li>
                                <li>62 Conventions spécifiques</li>
                               
                            </ul>
                            Depuis la création de l'université, sept (10) présidents se sont succédés à sa direction: Messieurs les professeurs:


                        </div>
                    </div>
                </div>
            </div>
            <!-- Privacy Policy END -->
        </div>
        <div class="section-full ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic1.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Habib ACHOUR</a></h4>
                                <span class="dlab-position">à compter du 5 mai 1986 (décret n° 87-137 du 4 février 1987)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic2.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Chadly BOUZAKOURA</a></h4>
                                <span class="dlab-position">à compter du 25 novembre 1987(décret n° 88-433 du 16 Mars 1988)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic3.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Lazhar BOUOUNY</a></h4>
                                <span class="dlab-position">à compter du 15 septembre 1990 (décret n°90-1511 du 17 septembre1990)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic4.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Abdelkrim ZBIDI</a></h4>
                                <span class="dlab-position"> à compter du 28 août 1995 (décret n° 95-1995 du 25 Août 1995)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic5.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Sadok KORBI</a></h4>
                                <span class="dlab-position">à compter du 17 décembre 1999 (décret n° 74-2000 du 10 janvier 2000)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic6.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">M'hamed Ali HAMZA</a></h4>
                                <span class="dlab-position">à compter du 14 septembre 2002 (décret n° 2479-2002 du 15 octobre 2002)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic7.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Ahmed Nourreddine HELAL</a></h4>
                                <span class="dlab-position"> à compter du 28 avril 2004 (décret n° 1393-2004 du 22 juin 2004)</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic8.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Faysal MANSOURI</a></h4>
                                <span class="dlab-position"> à compter du 01août 2011</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic8.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Najeh Farhat </a></h4>
                                <span class="dlab-position">à compter du 01 octobre 2017</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic1.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Ali Mtiraoui</a></h4>
                                <span class="dlab-position">à compter du 15 décembre 2017</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a [routerLink]="['/teachers-profile']">
                                    <img width="358" height="460" alt="" src="assets/images/our-team/pic3.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Lotfi BELKACEM</a></h4>
                                <span class="dlab-position">à compter du 15 décembre 2020</span>
                                <ul class="dlab-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->

</div>