<div class="section-full dlab-we-find bg-img-fix p-t20 p-b20 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
    <div class="container">
        <div class="section-content">
            <div class="client-logo-carousel mfp-gallery gallery owl-btn-center-lr owl-carousel owl-btn-3">
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"><a href="javascript:void(0);"><img src="assets/images/partenaire_logo/clicha.png" alt=""></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/genre.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/common.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/geomag.jpg" alt=""></a> </div>
                    </div>
                </div>            
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/healing.jpg" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/inside.jpg" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/IPEN_LogoNew.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/logo_satelit_fr.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/logo-instart.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/logoSagesse1.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/mehmed-logo-home.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/partenaire_logo/proemed.jpg" alt=""></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>