<div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">

 
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" class="collapsed" aria-expanded="false">Faculté de Médecine</a> </h6>
        </div>
        <div id="collapse1" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère Professionnel en Cardiologie Congénitale et Pédiatrique:</b> Cardiologie Congénitale et Pédiatrique.</li>
                    <li><b>Mastère Professionnel en Dermatologie Professionnelle et de l'Environnement:</b> Dermatologie Professionnelle et de l'Environnement Marketing /Administration des Affaires/ Finances.</li>
                    <li><b>Mastère Professionnel en Homéopathie:</b> Homéopathie.</li>
                    <li><b>Mastère Professionnel en Hygiène Hospitalière:</b> Hygiène Hospitalière.</li>
                    <li><b>Mastère Professionnel en Qualité des Soins et Management des Services des Soins:</b> Qualité des Soins et Management des Services des Soins</li>   
                    <li><b>Mastère Professionnel en Sexologie Clinique:</b> Sexologie Clinique.</li>   
                    <li><b>Mastère Professionnel en Ventilation non Invasive de l'Hôpital à Domicile:</b> Ventilation non Invasive de l'Hôpital à Domicile.</li>   
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" class="collapsed" aria-expanded="false">Faculté des Sciences Economiques et de Gestion</a> </h6>
        </div>
        <div id="collapse2" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de recherche en Sciences Economiques:</b> Sciences Economiques (Ingénierie Economique et Econométrie appliquée).</li>
                    <li><b>Mastère de Recherche en Gestion des Organisations:</b> Marketing /Administration des Affaires/ Finances.</li>
                    <li><b>Mastère Professionnel en en Ingénierie d'Affaires et Commerce International:</b> Ingénierie des Affaires et Commerce International.</li>
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" class="collapsed" aria-expanded="false">Faculté de Droit et des Sciences Politiques</a> </h6>
        </div>
        <div id="collapse3" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de recherche en droit privé:</b> Droit privé.</li>
                    <li><b>Mastère de recherche en droit public:</b> Droit public.</li>
                    <li><b>Mastère de recherche en sciences publiques:</b> Sciences publiques.</li>

               </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" class="collapsed" aria-expanded="false">Ecole Nationale d'Ingénieurs</a> </h6>
        </div>
        <div id="collapse4" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de recherche en Génie Mécanique:</b> Mécanique et Systèmes Industriels.</li>
                    <li><b>Mastère de Recherche en Informatique Industrielle:</b> Histoire.</li>
                    <li><b>Mastère de Recherche en Ingénierie intelligente des Connaissances:</b> Langue, Littérature et Civilisation Arabes.</li>
                    <li><b>Mastère de recherche en systèmes Intelligent et Communicants SIC:</b> Langue, Littérature et Civilisation Anglaises.</li>
                    <li><b>Mastère de recherche en systèmes Intelligents de Contrôle du Trafic Routier:</b></li>
                    <li><b>Projet Mastère Fondamental Génie Télécommunication</b></li>                  
                    <li><b>Mastère Professionnel de Technologie en Production Mécanique</b></li>                  
                    <li><b>Mastère Professionnel co-construite Ingénierie Industrielle et Manufacturière</b></li>                  
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse5" class="collapsed" aria-expanded="false">Ecole Supérieure des Sciences et de Technologie de Hammam Sousse</a> </h6>
        </div>
        <div id="collapse5" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Mathématiques et Applications:</b> Mathématiques et Applications.</li>
                    <li><b>Mastère de Recherche en Physique:</b> Matériaux et Energies.</li>
                    <li><b>Mastère Professionnel en Systèmes Electroniques Embarqués et Instruments Biomédicaux:</b> Systèmes Electroniques Embarqués et Instruments Biomédicaux.</li>
                    <li><b>Mastère Professionnel en Technologies de l'Information et de Communication:</b> Maitrises des Systèmes Industriels.</li>
                    <li><b>Mastère de Recherche en Physique:</b> Nanosciences.</li>

                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse6" class="collapsed" aria-expanded="false">Ecole Supérieure des Sciences et Techniques de la Santé de Sousse</a> </h6>
        </div>
        <div id="collapse6" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Master de recherche:</b> Sciences de la Santé.</li>
                          
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse7" class="collapsed" aria-expanded="false">Institut des Hautes Etudes Commerciales de Sousse</a> </h6>
        </div>
        <div id="collapse7" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère Recherche Finance et Actuariat</b></li>
                    <li><b>Mastère Recherche en Marketing</b> </li>
                    <li><b>Mastère Professionnel CCA</b> </li>
                    <li><b>Master Professionnel EDI</b> « Entrepreneuriat & Développement International » </li>
                    <li><b>Master Professionnel M2I</b> « Management & Ingénierie de l’Innovation »</li>

                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse8" class="collapsed" aria-expanded="false">Institut Supérieur de Finances et de Fiscalité de Sousse</a> </h6>
        </div>
        <div id="collapse8" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche Economie financière et fiscale.</b></li>
                    <li><b>Mastère Professionnel Gestion financière et fiscale.</b></li>
                    <li><b>Mastère Professionnel CCA</b></li>
                            
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse9" class="collapsed" aria-expanded="false">Institut Supérieur des Sciences Appliquées et de Technologie</a> </h6>
        </div>
        <div id="collapse9" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Informatique:</b> Systèmes Intelligents et Pervasifs(SPI).</li>
                    <li><b>Mastère Professionnel en Génie Mécanique:</b> Génie Mécanique</li>
                    <li><b>Mastère de Recherche en Microsystèmes et Systèmes Electroniques Embarqués:</b> Informatique Appliquée à la Gestion .</li>
                    <li><b>Licence Appliquée en Gestion:</b> Microsystèmes Electroniques.</li>
                    <li><b>Mastère Professionnel en Energitique.</b></li>
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse10" class="collapsed" aria-expanded="false">Institut Supérieur d'Informatique et des Techniques de Communication de Hammam Sousse</a> </h6>
        </div>
        <div id="collapse10" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Master professionnel Services et Sécurité Réseaux.</b> </li>
                    <li><b>Master professionnel Services Web et Multimédia.</b> </li>
                    <li><b>Master de recherche "Informatique Distribuée"</b> </li>     
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse11" class="collapsed" aria-expanded="false">Institut Supérieur de Transport et de la Logistique</a> </h6>
        </div>
        <div id="collapse11" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Technologie des Routes et Ingénierie de trafic TEMPUS:</b> Technologie des Routes et Ingénierie de trafic TEMPUS.</li>
                    <li><b>Mastère de recherche en Sciences du Transport et de la logistique:</b> Sciences du Transport et de la logistique.</li>
                    <li><b>Mastère Professionnel en Logistique Internationale:</b> Logistique Internationale.</li>
                    <li><b>Mastère Professionnel en Transport de Fret et Multi modalité:</b> Transport de Fret et Multimodalité.</li>        
                    <li><b>Mastère Professionnel en Technologie du Transport et de la Logistique</b>Technologie du Transport et de la Logistique</li>        

              
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse12" class="collapsed" aria-expanded="false">Institut Supérieur de Beaux-Arts de Sousse</a> </h6>
        </div>
        <div id="collapse12" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Arts Visuels:</b> Sculpture/Céramique/Gravure.</li>
                    <li><b>Mastère de Recherche en Arts Visuels:</b> Peinture</li>
                    <li><b>Mastère de Recherche en Design:</b> Design.</li>
                    <li><b>Mastère professionnel en Art et Technologie du Céramique:</b>  Art et Technologie du Céramique.</li>
                    <li><b>Mastère Professionnel en Arts Plastiques:</b> Photographie/Sculpture.</li>                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse13" class="collapsed" aria-expanded="false">Institut Supérieur de Gestion</a> </h6>
        </div>
        <div id="collapse13" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Entreprenariats:</b> Entreprenariats.</li>
                    <li><b>Mastère de Recherche en Gestion:</b> Finances.</li>
                    <li><b>Mastère de Recherche en Informatique de Gestion:</b> Systèmes d'Information et Aide à la Prise de Décision.</li>
                
                               
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse14" class="collapsed" aria-expanded="false">Institut Supérieur de Musique</a> </h6>
        </div>
        <div id="collapse14" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère de Recherche en Musique et Musicologie:</b> Interprétation de la Musique Arabe/Interprétation de la Musique Occidentale/Musique et Musicologie.</li>
                         
                </ul>
                   </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse15" class="collapsed" aria-expanded="false">Institut Supérieur des Sciences Infirmières</a> </h6>
        </div>
        <div id="collapse15" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <ul class="list-circle primary m-a0">                              
                    <li><b>Mastère Professionnel en Soins Palliatifs:</b> Soins Palliatifs.</li>
                
                </ul>
                   </div>
        </div>
    </div>




    </div>