<header class="site-header mo-left  header navstyle3">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="dlab-topbar-left">
                    <ul>
                        <li><i class="la la-phone-volume"></i> (+216) 73 368 000</li>
                        <li><i class="las la-map-marker"></i> rue khalifa karoui sahloul 4 sousse                         </li>
                    </ul>
                </div>
                <div class="dlab-topbar-right">
                    <ul>
                        <li><i class="la la-clock"></i>  Mon - Sat 8.00 - 18.00</li>
                        <li><i class="las la-envelope-open"></i> universite.sousse@uc.rnu.tn</li>
                    </ul>				
                </div>
            </div>
        </div>
    </div>
    <!-- main header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg header-transparent">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                 <div class="logo-header mostion">
                    <a [routerLink]="['/home-university']"><img src="assets/images/logo_uso4.png" alt=""></a>
                </div>
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- extra nav -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <button id="quik-search-btn" type="button" class="site-button-link"><i class="la la-search"></i></button>
                    </div>
                </div>
                <!-- Quik search -->
                <div class="dlab-quik-search ">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                        <span id="quik-search-remove"><i class="ti-close"></i></span>
                    </form>
                </div>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a [routerLink]="['/']"><img src="assets/images/logo-2.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">	
                        <li><a [routerLink]="['/']"><span>Accueil</span></a></li>
                        <li>
                            <a href="javascript:void(0);">Université<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/universite/actualites']">Actualites</a></li>
                                <li><a [routerLink]="['/universite/mot-president']">Mot du président</a></li>
                                <li><a [routerLink]="['/universite/historique']">Historique</a></li>
                                <li><a [routerLink]="['/universite/universite-chiffres']">Universite en chiffres</a></li>
                                <li><a [routerLink]="['/universite/enseignants']">Enseignants</a></li>
                                <li><a [routerLink]="['/universite/personnels']">Personnels </a></li>
                                <li><a [routerLink]="['/universite/service-administratifs']">Services Administratifs</a></li>
                                <li><a [routerLink]="['/universite/organigramme']">Organigramme</a></li>
                                <li><a href='/assets/uploads/ODD5.pdf'>Rapport ODD</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Programmes<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/programmes/formation-Initiale']">Formation Initiale</a></li>
                                <li><a [routerLink]="['/programmes/masters']">Masters</a></li>
                                <li><a [routerLink]="['/programmes/doctorats']">Doctorats</a></li>
                                <li><a [routerLink]="['/programmes/formations-complementaires']">Formations complémentaires</a></li>
                                <li><a [routerLink]="['/programmes/education-Ouverte']">Education Ouverte </a></li>
                                <li><a [routerLink]="['/programmes/enseignement-Distance']">Enseignement à Distance</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Partenariat<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/partenariat/entreprise']">Entreprise</a></li>
                                <li><a [routerLink]="['/partenariat/structures']">Structures d'Appui</a></li>
                                <li><a [routerLink]="['/partenariat/societe-civile']">Societé Civile</a></li>
                                <li><a [routerLink]="['/partenariat/conventions']">Conventions</a></li>
                                <li><a [routerLink]="['/partenariat/projets-internationaux']">Projets Internationaux</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Etudiants<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/etudiants/bourses']">Bourses</a></li>
                                <li><a [routerLink]="['/etudiants/bourses-nationales']">Bourses Nationales</a></li>
                                <li><a [routerLink]="['/etudiants/bourses-alternance']">Bourses d'Alternance</a></li>
                                <li><a [routerLink]="['/etudiants/bourses-internationales']">Bourses Internationales</a></li>
                                <li><a [routerLink]="['/etudiants/reorientation']">Reorientation</a></li>
                                <li><a [routerLink]="['/etudiants/mutation']">Mutation</a></li>
                                <li><a [routerLink]="['/etudiants/changement-de-parcours']">Changement de Parcours</a></li>
                                <li><a [routerLink]="['/etudiants/accompagnement']">Accompagnement & Ecoute</a></li>
                                <li><a [routerLink]="['/etudiants/insertion-professionnel']">Insertion Professionnel</a></li>
                                <li><a [routerLink]="['/etudiants/culture-sport']">Culture & Sport</a></li>
                                <li><a [routerLink]="['/etudiants/enquetes']">Enquêtes</a></li>                              
                               
                            </ul>
                        </li>
                       
                        <li class="has-mega-menu"> <a href="javascript:void(0);">Institutions<i class="fa fa-chevron-down"></i></a>
                            <ul class="mega-menu">
                                <li> 
                                    <a href="javascript:void(0);">Facultés</a>
                                    <ul>
                                        <li><a href='https://www.medecinesousse.com/'>Médecine</a></li>
                                        <li><a href="http://www.fdsps.rnu.tn">Droit et Sciences Politiques</a></li>
                                        <li><a href="http://www.fls.rnu.tn">Lettres et Sciences Humaines </a></li>
                                        <li><a href="http://www.fsegso.rnu.tn">Sciences Economiques et Gestion </a></li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0);">Instituts</a>
                                    <ul>
                                        <li><a href="http://www.ihecso.rnu.tn ">Hautes Etudes Commerciales</a></li>
                                        <li><a href="http://www.isffs.rnu.tn">Finance et Fiscalité</a></li>
                                        <li><a href="http://www.isbas.rnu.tn">Beaux-Arts</a></li>
                                        <li><a href="http://www.isbas.rnu.tn">Supérieur De Gestion</a></li>
                                        <li><a href="http://www.infcom.rnu.tn">Informatique et Communication </a></li>
                                        <li><a href="http://www.ismso.rnu.tn">Musique</a></li>
                                        <li><a href="http://www.issatso.rnu.tn">Sciences Appliquées et Technologie </a></li>
                                        <li><a href="http://www.istls.rnu.tn/">Transport et  Logistique </a></li>
                                        <li><a href="http://www.iresa.agrinet.tn">Agronomique de Chott-Mariem</a></li>
                                        <li><a href="http://www.sciencesinfirmieres.tn">Sciences Infirmières </a></li>
                                       
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0);">Ecoles</a>
                                    <ul>
                                        <li><a href="http://www.eniso.rnu.tn/">Nationale des ingénieurs</a></li>
                                        <li><a href="http://www.essths.rnu.tn">Sciences et Technologie de Hammam Sousse</a></li>
                                        <li><a href="http://www.esstssousse.net">Sciences et Techniques de la Santé</a></li>
                                    </ul>
                                </li>
                              
                                <li> 
                                    <a href="javascript:void(0);">Autres Structures</a>
                                    <ul>
                                        										
                                    </ul>
                                </li>
                            </ul>
                        </li>
                      
                       
                        <li>
                            <a href="javascript:void(0);">R & D<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu right">
                                <li><a [routerLink]="['/RD/ecoles-doctorales']">Ecoles Doctorales</a></li>
                                <li><a [routerLink]="['/RD/unités-recherche']">Unités de Recherche</a></li>
                                <li><a [routerLink]="['/RD/laboratoires']">Laboratoires de Recherche</a></li>
                                <li><a [routerLink]="['/RD/transfert-technologique']">Bureau de Transfert Technologique</a></li>
                            </ul>
                        </li>
                        <li><a [routerLink]="['/contact/contact']"><span>Contact Us</span></a></li>
                       
                        
                       
                    </ul>	
                    
                    <div class="dlab-social-icon">
                        <ul>
                            <li><a class="site-button facebook sharp-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                            <li><a class="site-button twitter sharp-sm fa fa-twitter" href="javascript:void(0);"></a></li>
                            <li><a class="site-button linkedin sharp-sm fa fa-linkedin" href="javascript:void(0);"></a></li>
                            <li><a class="site-button instagram sharp-sm fa fa-instagram" href="javascript:void(0);"></a></li>
                        </ul>
                    </div>			
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>

