<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Direction des Affaires Académiques et du Partenariat.</h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Sous direction des affaires pédagogiques et de la vie estudiantine Service des affaires estudiantines
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Préparation et organisation du concours de réorientation</li>
                                    <li>Préparation des concours techniciens supérieurs</li>
                                    <li>Etude des demandes de permutation et de réorientation</li>
                                    <li>Suivi des inscriptions des étudiants étrangers</li>
                                    <li>Suivi des décisions des conseils de discipline</li>
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service de la comptabilité et de la supervision des établissements</h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Supervision des budgets des établissements universitaires rattachés à l'université de Sousse.</li>
                                    <li>Préparation des budgets de l'université et des différents établissements universitaires.</li>
                                    <li>Suivi d'exécution des budgets de gestion des établissements.</li>
                                    <li>Coordination administrative des travaux de l'observatoire de l'université.</li>
                                    <li>Suivi des projets dans le cadre du programme d'appui à la qualité .</li>
                                    <li>Préparation des indicateurs de performance de l'université .</li>
                                    <li>Coordination des opérations d'évaluation interne des établissements.</li>                                  
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title d-flex justify-content-center">Direction des services communs.</h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Suivi des activités de toutes les sous directions.
                                    </li>
                                    <li>Participation à l'élaboration du budget de l'université.
                                    </li>
                                    <li>Suivi du budget de l'université et des établissements
                                    </li>
                                    <li>Participation à l'élaboration du rapport d'activité de l'université.
                                    </li>
                                    <li>Représenter l'université à l'égard des tiers
                                    </li>
                                    <li>Coordination des projets d'appui à la qualité .
                                    </li>
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service pour la gestion des applications informatiques des affaires des fonctionnaires</h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Mise à jour des situations financières des fonctionnaires sur l'application INSAF.
                                    </li>
                                    <li>Coordination avec le centre national de l'informatique.
                                    </li>
                                    <li>Traitement de la paye
                                    </li>
                                    <li>Délivrance des bulletins de paye.
                                    </li>
                                    <li>Domiciliation des salaires
                                    </li>
                                    
                                                               
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service informatique
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Création d'application informatique pour améliorer les services administratifs.
                                    </li>
                                    <li>Encadrement du personnel quand à l'utilisation de l'outil informatique.
                                    </li>
                                    <li>Assurer la formation des agents de l'Université et des différents établissements
                                    </li>
                                    <li>Suivi des inscriptions à distance des étudiants.
                                    </li>
                                    <li>Gestion des équipements informatiques .
                                    </li>
                                    <li>Fournir des adresses électroniques au personnel, aux enseignants et aux étudiants .
                                    </li>
                                    <li>Préparation et suivi des appels d'offres pour l'acquisition du matériel informatique pour l'université et les différents établissements.
                                    </li>
                                    <li>Entretien du parc informatique.
                                    </li>

                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service des études et prospection
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Production des statistiques de l'université.
                                    </li>
                                    <li>Suivi des plans d'études.
                                    </li>
                                    <li>Suivi des dossiers de création des nouvelles filières .
                                    </li>
                                    <li>Etude des capacités d'accueil des différents établissements universitaires.
                                    </li>
                                    <li>Etude des projets .
                                    </li>
                                                               
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service des études techniques et du suivi des bâtiments.
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Préparation du plan fonctionnel des nouveaux bâtiments et des extensions.
                                    </li>
                                    <li>Préparation des études de faisabilité des projets.
                                    </li>
                                    <li>Suivi des études techniques des projets .
                                    </li>
                                    <li>Suivi et contrôle d'exécution des projets de construction.
                                    </li>
                                                               
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service des matériels, des équipements et d'entretien.
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Préparation des besoins des établissements en matériel, équipement et entretien.
                                    </li>
                                    <li>Estimation des budgets d'acquisition de matériel et d'équipement.
                                    </li>
                                    <li>Préparation des cahiers de charges.
                                    </li>
                                    <li>Réception des équipements et matériel.
                                    </li>
                                                               
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service de secrétariat permanent de la commission du marc.
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Réception et étude des dossiers des appels d'offre et des consultations.
                                    </li>
                                    <li>Préparation des réunions de la commission du marché de l'université.
                                    </li>
                                    <li>Transmission des rapports et recommandations de la commission du marché aux différents établissements universitaires.
                                    </li>
                                                 
                                   
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
    
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Service du personnel enseignant, administratif, techniques
                                </h4>
                                <ul class="list-circle primary m-a0">
                                    <li>Gestion des affaires du personnel.
                                    </li>
                                    <li>Gestion des concours professionnels et des concours de recrutement
                                    </li>
                                    <li>Préparation des besoins en personnel enseignant, administratif, techniques et ouvrier.
                                    </li>
                                                           
                                   
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   