<div class="section-full content-inner bg-gray">
    <div class="container">
        <div class="section-content">
             <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="counter-style-1">
                        <div class="">
        <i class="icon flaticon-graduated-student-avatar text-primary"></i>
        <span class="counter">17</span>
      </div>
      <span class="counter-text">Etablissements</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="counter-style-1">
      <div class="">
        <i class="icon flaticon-closed-notebook-and-pen text-primary"></i>
        <span class="counter">87</span>
      </div>
      <span class="counter-text">Diplomés</span>
    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="counter-style-1">
      <div class="">
        <i class="icon flaticon-teacher-teaching-maths text-primary"></i>
        <span class="counter">2328</span>
      </div>
      <span class="counter-text">Enseignants</span>
    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="counter-style-1">
      <div class="">
        <i class="icon flaticon-mortarboard text-primary"></i>
        <span class="counter">28909</span>
      </div>
      <span class="counter-text">Etudiants</span>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>