<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Enseignement à Distance</h3>
                    <p>L’université de Sousse est partenaire de l'université Virtuelle de Tunis dans l'élaboration de formation académique à distance pour ses étudiants. Par ailleurs, l'université de Sousse compte un nombre considérable de cours numériques et disponible en ligne pour ses apprenants notamment dans le domaine de la médecine, science de gestion, informatique. Ces acquis renforcent l'adhésion stratégique de l'Université de Sousse dans le mouvement international des ressources éducatives libres intégrant d’avantage l'université sur son environnement. Ce choix stratégique vise à élargir le maximum possible les opportunités d'apprentissage et à favoriser une participation à grande échelle aux ressources éducatives appartenant à l'université.</p>
                </div>
              <br>
              <br>
              <br>
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>