<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Formation Initiale</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 m-b30"> 
                        <app-front-query-form></app-front-query-form>
                    </div>
                    <div class="col-lg-8 col-md-12 m-b30">
                        <app-front-accordian-doc></app-front-accordian-doc>
                    </div>
                </div>
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>