<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Formations complémentaires CEC</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 m-b30"> 
                        <app-front-query-form></app-front-query-form>
                    </div>
                    <div class="col-lg-8 col-md-12 m-b30">
                        <div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">
                            <div class="panel">
                                <div class="acod-head">
                                    <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">Faculté de Médecine</a> </h6>
                                </div>
                                <div id="collapse1" class="acod-body collapse show" data-parent="#accordion001">
                                    <div class="acod-content">
                                        <ul class="list-circle primary m-a0">                              
                                            <li><b>Certificat d'Etudes Complémentaires en Chimiothérapie anti-nfectieuse:</b> Chimiothérapie anti-nfectieuse.</li>
                                            <li><b>Certificat d'Etudes Complémentaires en Chirurgie Endoscopique en Gynécologie:</b> Chirurgie Endoscopique en Gynécologie.</li>
                                            <li><b>Certificat d'Etudes Complémentaires en Sénologie:</b> Sénologie.</li>
                                            <li><b>Certificat d'Etudes Complémentaire en Médecine de la Reproduction:</b> Médecine de la Reproduction.</li>
                                            <li><b>Certificat d'Etudes Complémentaires en Echographie Gynécologique et Obstétrique:</b>  Echographie Gynécologique et Obstétrique.</li>   
                                            <li><b>Certificat d'Etudes Complémentaires en Exploration non Invasive et Imagerie Cardiaque:</b> Exploration non Invasive et Imagerie Cardiaque.</li>   
                                            <li><b>Certificat d'Etudes Complémentaires en Pédagogie médicales Pédagogie Médicale</b></li>   
                                            <li><b>Certificat d'Etudes Complémentaires en Prévention et Soins Paliatifs en Cancérologie:</b> Prévention et Soins Paliatifs en Cancérologie.</li>   
                                            <li><b>Certificat d'Etudes Complémentaires en Tabacologie Foetale et Placentaire:</b>  Tabacologie Foetale et Placentaire.</li>   
                                            <li><b>Certificat d'Eudes Complémentaires en Ethique de la Pratique et de la Recherche Médicales</b></li>   
                                        </ul>   
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>