
<div class="page-wraper">

    <!-- header -->
<app-back-header></app-back-header>    
<!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-back-banner [data] = "banner"></app-back-banner>
        <!-- inner page banner END -->
        <!-- contact area -->
     
		<!-- Shop Service info -->
        <div class="section-full content-inner">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 m-b30">
                    <app-back-sidebar></app-back-sidebar>
                </div>
                <div class="col-lg-8 col-md-7 ">
                    <router-outlet></router-outlet>
                </div>
                </div>
                
            </div>
            <!-- Product END -->
        </div>
		<!-- Shop Service info End -->
    </div>
    <!-- Content END-->
    <!-- Newsletter -->
	
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>