<div class="page-content bg-white">
    <!-- Slider -->
  <app-home-slider></app-home-slider>
    <!-- Slider END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- Our Story -->


      <app-home-actualites></app-home-actualites>
      	<!-- Team member -->
			<app-home-team></app-home-team>
			<!-- Team member End -->
			<!-- Testimonials blog -->
			<app-home-testimonial></app-home-testimonial>
			<!-- Testimonials blog End -->
      <app-home-counter></app-home-counter>
   
      <app-home-partenaire></app-home-partenaire>

        <!-- Call To Action End -->
    </div>
    <!-- contact area END -->
</div>
<!--<app-newsletter2></app-newsletter2>-->