<div class="page-content bg-white">
    <!-- Slider -->
  <app-home-slider></app-home-slider>
    <!-- Slider END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- Our Story -->


      <app-home-actualites></app-home-actualites>
      	<!-- Team member -->
			<app-home-team></app-home-team>
			<!-- Team member End -->
			<!-- Testimonials blog -->
			<app-home-testimonial></app-home-testimonial>
			<!-- Testimonials blog End -->
      <app-home-counter></app-home-counter>
      <div class="section-full content-inner bg-gray">
        <div class="container">
            <div class="section-content">
                 <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                        <div class="counter-style-1">
                            <div class="">
            <i class="icon flaticon-graduated-student-avatar text-primary"></i>
            <span class="counter">7652</span>
          </div>
          <span class="counter-text">Happy Students</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                        <div class="counter-style-1">
          <div class="">
            <i class="icon flaticon-closed-notebook-and-pen text-primary"></i>
            <span class="counter">4562</span>
          </div>
          <span class="counter-text">Approved Courses</span>
        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                        <div class="counter-style-1">
          <div class="">
            <i class="icon flaticon-teacher-teaching-maths text-primary"></i>
            <span class="counter">3569</span>
          </div>
          <span class="counter-text">Certified Teachers</span>
        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                        <div class="counter-style-1">
          <div class="">
            <i class="icon flaticon-mortarboard text-primary"></i>
            <span class="counter">2089</span>
          </div>
          <span class="counter-text">Graduate Students</span>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <app-home-partenaire></app-home-partenaire>

        <!-- Call To Action End -->
    </div>
    <!-- contact area END -->
</div>
<app-newsletter2></app-newsletter2>