<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Structures D'appui</h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Convention Université de Sousse-Municipalité de Sousse</h4>
                                <ul class="list-circle primary m-a0">                              
                                    <li>Une convention a été signée entre L'Université de Sousse avec la municipalité de Sousse et qui vise à faire bénéficier la commune de Sousse des ressources et savoir faire disponible pour aider à résoudre et trouver des solutions tels que l'économie d'énergie, le développement du paysage, la collecte des déchets, le recyclage la formation du personnel etc.</li>
                                  
                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Convention Université de Sousse-ANETI</h4>
                                <ul class="list-circle primary m-a0">                              
                                    <li>Une convention a été signée entre L'Université de Sousse et l'Agence Nationale de l'Emploi et du Travail Indépendant et qui vise au:
                                        <br><b>1- Renforcement de l'employabilité:</b>
                                        <br>&nbsp; &nbsp;   -Valoriser les talents et potentiels.
                                        <br>&nbsp; &nbsp;  -Favoriser l'insertion sociale et professionnelle des jeunes.
                                        <br>&nbsp; &nbsp; -Développement de l'esprit entrepreneurial.
                                        <br><b>2- Mise en place d'un réseau d'information:</b>
                                        <br>&nbsp; &nbsp;  -Information sur le marché de l'emploi et la création d'entreprise.
                                        <br>&nbsp; &nbsp; -Orientation professionnelle des étudiants.
                                        <br>&nbsp; &nbsp; -Echange d'information.
                                    </li>

                                    <li>Voir programme d'actions</li>
                                    <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button>button</button>
                                </ul>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                                                           
                                   
                              
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   