<!-- actualite-list.component.html -->

<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
    
        <!-- Content -->
        <div class="page-content bg-white">
    
            <!-- contact area -->
            <div class="content-block">
                <!-- Privacy Policy -->
                <div class="section-full content-inner inner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title d-flex justify-content-center">Projets Internationaux</h4>
                               
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">ENI CB CMED:
                                </h4>
                                <ul class="list-circle primary m-a0">                              
                                    <li>L’objectif général du Programme est de promouvoir un développement économique, social et territorial juste, équitable et durable, susceptible de faire progresser l’intégration transfrontalière et de valoriser les territoires et les valeurs des pays participants. La stratégie repose sur les deux objectifs généraux suivants :</li>
                                  <br>&nbsp; &nbsp; - Promouvoir le développement économique et social
                                  <br>&nbsp; &nbsp; - Relever les défis communs en matière d'environnement

                                </ul>
                                <div class="dlab-divider bg-gray-dark"></div>
                                <h4 class="title">Projet MED-QUAD:</h4>
                                <ul class="list-circle primary m-a0">                              
                                  
                              </ul>


                              <div class="dlab-divider bg-gray-dark"></div>
                              <h4 class="title">Erasmus+ programme pour l'éducation et la formation:</h4>
                              <ul class="list-circle primary m-a0">                              
                                  <li><b>Le programme Erasmus +</b>
                                    <p>
                                        En favorisant les projets de mobilité et de coopération en Europe, le programme Erasmus +, résolument inscrit dans la Stratégie Europe 2020, doit permettre de renforcer les compétences de tous pour une meilleure employabilité, de soutenir l'innovation au sein établissements et organismes d'éducation et de formation et leur internationalisation, de promouvoir une utilisation transparente et cohérente au niveau européen des outils de reconnaissance et de validation compétences, de favoriser la coopération entre pays européens et non-européens.
                                    </p>
                                <p>Depuis 2015, l'Université de Sousse a signé 28 accords interinstitutionnels dans le cadre du programme ERASMUS+ au profit les enseignants, les formateurs, ainsi que l'ensemble du personnel administratif des organismes actifs dans le champ de l'éducation et de la formation professionnels</p></li>
                                  <li><b>Nos partenaires: Actions clé 1 : </b><br> &nbsp; &nbsp; crédit Mobilité Internationale:</li>
                                  <li><b>Actions clé 2: Renforcements des capacités : </b><br> &nbsp; &nbsp;  13 projets depuis 2015.</li>
                                  <li>Groupe Compostela des Universités</li>

                            </ul>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                                                           
                                   
                              
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Privacy Policy END -->
            </div>
          
        </div>
        <!-- Content END-->
    
    </div>
    <!-- contact area -->
   