<div class="page-content bg-white">
    <!-- inner page banner -->
    <app-universite-banner [data]="banner"></app-universite-banner>
    <!-- inner page banner END -->
       <!-- contact area -->
       <div class="content-block">
        <!-- Your Faq -->
        <div class="section-full overlay-white-middle content-inner">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h3 class="title">Education Ouverte</h3>
                    <p>L'Université de Sousse s'est inscrite dans le mouvement international des ressources éducatives libres et ce dans le cadre de l'intégration de l'université sur son environnement.</p>
                    <p>Ce choix stratégique vise à élargir le maximum possible les opportunités d’apprentissage et donc favoriser une participation à grande échelle aux ressources éducatives disponibles et appartenant au domaine publique au sein de l’université.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                

                </div>
             
            </div>
        </div>
        <!-- Your Faq End -->
    </div>
    <br>
    <!-- contact area END -->
    <div class="content-block">
       

    </div>